# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml
*.iws
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Java
*.class

# Test reports
/test-output/
